<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Obari - Panel</title>

	<!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/plugins/cropper.css" />
	<link rel="stylesheet" href="../css/plugins/demo.css" />
	<link rel="stylesheet" href="../css/plugins/main.css" />

	<!-- Custom Fonts -->
	<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <form action="/prueba" enctype='multipart/form-data' method="POST">
	<div id='content'>
    <h1>cropper demo</h1>
    <input id="image" type="file" name="image">
    <input type="text" name="w" id="w">
    <input type="text" name="h" id="h">
    <input type="text" name="angle" id="angle">
    <input type="text" name="x" id="x">
    <input type="text" name="y" id="y">
    <div class='frame'>
      <img id='sample_picture' src='#'>
    </div>
    	<input type="submit" value="SUBIR">
  	</div>
  	<div class="docs-preview clearfix">
        <div class="img-preview preview-lg"></div>
        <div class="img-preview preview-md"></div>
        <div class="img-preview preview-sm"></div>
        <div class="img-preview preview-xs"></div>
    </div>
    </form>

    <img src="../fotoscasas/28b8909952771c4a2184162a704c2f00">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="../js/cropper.js"></script>
	<script type="text/javascript" src="../js/sweetalert.min.js"></script>

	<script type='text/javascript'>
    	
      $("#recortar").on('click',function(e) {

      });

    
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#sample_picture').attr('src', e.target.result);
                        $("#sample_picture").cropper({
                  			aspectRatio: 3/2,
                  			preview: '.img-preview',
                			  crop: function(e) {
                			    // Output the result data for cropping image.
                			    $('#w').attr('value',e.width);
                			    $('#h').attr('value',e.height);
                			    $('#x').attr('value',e.x);
                			    $('#y').attr('value',e.y);
                			    $('#angle').attr('value',e.rotate);
                			    /*console.log("x:"+e.x);
                			    console.log("y :"+e.y);
                			    console.log("width :"+e.width);
                			    console.log("height :"+e.height);
                			    console.log("rotate :"+e.rotate);
                			    console.log("scaleX :"+e.scaleX);
                			    console.log("scaleY :"+e.scaleY);*/
                			  },
                			dragMode: 'move',
                			cropBoxResizable: false,
                		});
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#image").change(function(){
        readURL(this);
    });
  </script>

</body>
</html>
